# ==========================
# Build Output
# ==========================
build
out
target

# ==========================
# Gradle Cache
# ==========================
.gradle

# ==========================
# Environment
# ==========================
../.env
.env.*
!.env.example

# ==========================
# Git
# ==========================
.git
.gitignore
.gitattributes

# ==========================
# IDE
# ==========================
.idea
.vscode

# ==========================
# Logs
# ==========================
logs
*.log

# ==========================
# Temporary Files
# ==========================
tmp
temp

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Test Reports
# ==========================
coverage
jacoco
build/reports

# ==========================
# Docker
# ==========================
docker-compose.yml
docker-compose.*.yml

# ==========================
# Documentation
# ==========================
README.md
DESCRIPTION.md

# ==========================
# Kotlin / Java Cache
# ==========================
*.class

# ==========================
# IntelliJ
# ==========================
*.iml

# ==========================
# Text
# ==========================
*.txt