<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.japan_go_be.infrastructure.mappers.grammar.SentenceMapper">
    <resultMap id="SentenceMap" type="sentenceEntity">
        <id column="id" property="id"/>
        <result column="japanese_raw" property="japaneseRaw"/>
        <result column="japanese_html" property="japaneseHtml"/>
        <result column="vietnamese_raw" property="vietnameseRaw"/>
    </resultMap>

    <select id="findAllByGrammarLessonId" resultMap="SentenceMap">
        select s.id,
               s.japanese_raw,
               s.japanese_html,
               s.vietnamese_raw
        from grammar_lessons gl
                 inner join grammars g on gl.id = g.grammar_lesson_id
                 inner join grammar_examples ge on ge.id = g.grammar_example_id
                 inner join sentences s on ge.id = s.grammar_example_id
        where gl.id = #{grammarLessonId}
    </select>
</mapper>